################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet8Api/DotNet8Api/bin/Debug/net8.0
/DotNet8Api/.vs/DotNet8Api
/.vs
/DotNet8Api/DotNet8Api/obj
